/* ==========================================================================
   App Stylesheet
   app.scss
   ========================================================================== */


/* Vendor Styles and Setting (foundation > settings)
   ======================================================================== */
@import "foundation";
@import "settings";


/* Mixins (User defined mixins)
   ======================================================================== */


/* Components
   ======================================================================== */
@import "components/base";

body {
	background-color: #494A52;
}

.row {
  background-color: #DBDBDB;
}

.panel {
  background-color: #eee8d5;
}